version: "3"

services:
  nginx:
    container_name: nginx
    image: nginx
    ports:
      - 8080:80
      - 8443:443
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    networks:
      - techchallenge
    depends_on:
      - api1
      - api2
      - api3

  api1:
    container_name: api1
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: "Server=db;Port=3306;Database=TechChallenge;User=TechChallenge;Password=TechChallengeSoat4;"
    ports:
      - 8081:80
      - 8082:443
    networks:
      - techchallenge
    depends_on:
      - db

  api2:
    container_name: api2
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: "Server=db;Port=3306;Database=TechChallenge;User=TechChallenge;Password=TechChallengeSoat4;"
    ports:
      - 8083:80
      - 8084:443
    networks:
      - techchallenge
    depends_on:
      - db

  api3:
    container_name: api3
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: "Server=db;Port=3306;Database=TechChallenge;User=TechChallenge;Password=TechChallengeSoat4;"
    ports:
      - 8085:80
      - 8086:443
    networks:
      - techchallenge
    depends_on:
      - db

  db:
    container_name: db
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: TechChallenge
      MYSQL_USER: TechChallenge
      MYSQL_PASSWORD: TechChallengeSoat4
    ports:
      - 3306:3306
    networks:
      - techchallenge
    volumes:
      - techchallenge:/var/lib/mysql

networks:
  techchallenge:
    driver: bridge

volumes:
  techchallenge: